
<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      .wrap { height: 100%; }
      .google-map { width:100%; height:100%;}
    </style>

  </head>

  <body ng-app="MapTest">

    <div class="wrap" ng-controller="mainctrl">


<!--       {{coords}}

      <h3 ng-click="click()">change coordinates</h3> 
      <h3 ng-click="dOverlayURL()">change overlay url</h3>
      <h3 ng-click="dOverlayOpacity()">change overlay opacity</h3>
      <h3 ng-click="dOverlayVisibile()">change overlay visibility</h3>
 -->
      <div map class="google-map" center="mapOptions.center" events="mapOptions.events">



        <marker position="coords" options="marker.options" events="marker.events" idkey="marker1"></marker>

        <!-- <geojson url="stations.url" style="stations.style" events="stations.events"></geojson> -->

        <!-- <overlay url="overlay.url" bounds="overlay.bounds" opacity="overlay.opacity" visible="overlay.visible"></overlay>  -->

      </div>

    </div>

    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="dataMap.js"></script>
    <script src="script.js"></script>

  </body>

</html>