
<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      .wrap { height: 100%; }
      .google-map { height:400px; padding:10px;}
      .margined { margin-bottom: 1em; }
      .title { color: black;}
    </style>

  </head>


  <body ng-app="MapTest">

    <div class="container">

      <div class="row" ng-controller="mainctrl">

        <div map class="google-map" center="mapOptions.center" events="mapOptions.events" zoom="mapOptions.zoom" ng-transclude>

<!--           <marker position="marker.position" options="marker.options" events="marker.events" idkey="marker1"></marker> -->

          <geopoints url="airnow.url" style="airnow.style" events="airnow.events" visible="airnow.visible"></geopoints>

          <geopoints url="ebam.url" style="ebam.style" events="ebam.events" visible="ebam.visible"></geopoints>

          <infowindow position="infowindow.position" title="infowindow.title" variables="infowindow.variables" values="infowindow.values"> </infowindow>

        </div>

        <h4>Selected Station</h4>
        {{selectedStation}}
        <button class="btn white" ng-click="toggleAirNow()">Toggle AirNow</button>
        <button class="btn white" ng-click="toggleEBAM()">Toggle EBAM</button>
        {{airnow}}
        {{ebam}}
      </div>

    </div>

    <!-- </div> -->

    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="dataMap.js"></script>
    <script src="script.js"></script>

  </body>

</html>