
<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      .wrap { height: 100%; }
      .google-map { width:100%; height:100%;}
    </style>

  </head>

  <body ng-app="MapTest">

    <div class="wrap" ng-controller="mainctrl">


      {{coords}}

      <h3 ng-click="dOverlayURL()">1change overlay url</h3>
      <h3 ng-click="dOverlayOpacity()">1change overlay opacity</h3>
      <h3 ng-click="dOverlayVisibile()">1change overlay visibility</h3>

      <h3 ng-click="dOverlayURL2()">2change overlay url</h3>
      <h3 ng-click="dOverlayOpacity2()">2change overlay opacity</h3>
      <h3 ng-click="dOverlayVisibile2()">2change overlay visibility</h3>

      <div map class="google-map" center="mapOptions.center" events="mapOptions.events">

        <marker position="marker.position" options="marker.options" events="marker.events" idkey="marker1"></marker>

        <geojson url="stations.url" style="stations.style" events="stations.events"></geojson>

        <overlay url="overlay1.url" bounds="overlay1.bounds" opacity="overlay1.opacity" visible="overlay1.visible"></overlay> 
        <overlay url="overlay2.url" bounds="overlay2.bounds" opacity="overlay2.opacity" visible="overlay2.visible"></overlay> 

      </div>

    </div>

    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="dataMap.js"></script>
    <script src="script.js"></script>

  </body>

</html>