body, html {
  font-family: "freight-sans-pro",sans-serif;
  color: rgb(50,50,50);
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

code {
  color: #4DAF7C;
  background-color: rgb(240,240,240);
  font-size: 0.8em;
}

.logo {
  height: 50px;
  padding: 7px;
}

.google-map {
  height: 500px;
}

.short-map {
  height: 250px;
  margin-bottom: 1.5em;
}

.margined {
  margin-bottom: 1.61em;
}

.centered {
  text-align: center;
}

.text-label {
  font-weight: 900;
  font-size: 14px;
  background: rgba(255,255,255,0.3);
}

.navbar-default {
  background-color: #4DAF7C;
  border: none;
  border-bottom: 3px solid #43896E;
  line-height: 85px;
  padding: 0;
}

.navbar-default a {
  text-decoration: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-weight: 600;
  color: white;
  font-size: 2em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

}

.title:hover {
  border-bottom: 3px solid white;
  box-sizing: border-box;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding: 29px;
}

.navbar-default .navbar-nav > li > a:visited {
  color: white;;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: #43896E;
}



/*main page*/

.landing-page {
  font-size: 1.2em;
}

.important {
  border-left: 5px solid #e74c3c;
  padding-left: 10px;
}

.landing-page h1 {
  font-size: 4em;
  position: relative;
  top: 40%;
  padding: 10px;
  color: white;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.subheader {

}

.green {
  color: #4DAF7C;
  font-weight: 700;
}

.tall {
  height: 100%;
  width: 100%;
  pointer-events: none;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.landing-page h2 {
  margin-top: 2em;
}

.landing-page p {
  margin-top: 25px;
}

.landing-page pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  margin-top: 25px;
}

.feature-list {
  list-style-type: square;
  padding: 0;
}

.feature-list li {
  padding: 5px 0;
}

.download-link:hover {
  text-decoration: none;
  color: white;
}








/*documentation*/

.table {
  margin-bottom: 1.621em;
}

.table > thead:first-child > tr:first-child > th {
  background-color: #4DAF7C;
  color: white;
  font-weight: 400;
  border: none;
}

.side-list {
  list-style: none;
  font-size: 1em;
  padding: 0px;
}


.directive-option {
  font-size: 1.1em;
  padding: 7px;
  text-decoration: none;
  background-color: white;
  color: rgb(50,50,50);
  font-weight: 500;
  display: block;
  width: 100%;
  height: 100%;
}

.selected {
  background-color: #4DAF7C;
  color: white;
}

.directive-option:hover {
  text-decoration: none;
  background-color: #43896E;
  color: white;
}

.control-example {
  background-color: white;
  padding: 10px;
  border: 2px solid rgb(30,30,30);
}

.btn-primary {
  background-color: #4DAF7C;
  border: none;
  border-bottom: 3px solid #43896E;
  margin: 5px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #43896E;
}