<div ng-controller="geopolygons">

  <div class="row">

    <div class="col-sm-12">
      <map ng-transclude class="google-map" center="map.center" options="map.options">
        
        <geopolygons url="states.url" options="states.options" events="states.events" on-init="states.onInit"></geopolygons>

      </map>
    <div>

</div>

  <div class="row">

    <div class="col-sm-12">

      <h3> JavaScript </h3>

<pre>$scope.map = {
  center: [40, -100],
  options: function() {
    return {
      zoom: 4,
      streetViewControl: false,
      scrollwheel: false
    }
  }
};

$scope.states = {
  url: "data/states.geojson",
  options: function(geometry, properties, map, i) {
    return {
      fillColor: '#4DAF7C',
      strokeWeight: 1,
      strokeColor: '#43896E'
    }
  },
  events: {
    mouseover: function(e, p, map, polygons) {
      p.setOptions({
        strokeWeight: 4,
        zIndex: 2
      })
    },
    mouseout: function(e, p, map, polygons) {
      p.setOptions({
        strokeWeight: 1,
        zIndex: 0
      })
    },
    click: function(e, p, map, polygons) {
      var opacity = Math.random();
      p.setOptions({
        fillOpacity: opacity
      })
    }
  }
}</pre>

      <h3> HTML </h3>

<pre>
&lt;map ng-transclude class=&quot;google-map&quot; center=&quot;map.center&quot; options=&quot;map.options&quot; &gt;
  
  &lt;geopolygons url=&quot;states.url&quot; options=&quot;states.options&quot; events=&quot;states.events&quot;&gt;&lt;/geopolygons&gt;

&lt;/map&gt;</pre>

    </div>

  </div>