<div ng-controller="infowindow">

  <div class="row">

    <div class="col-sm-12">
      <map ng-transclude class="google-map" center="map.center" events="map.events" options="map.options"> 
        <infowindow ng-hide="true" position="infowindow.position">
          <div>
            <h4> Hello! </h4>
            My position is {{infowindow.position}}
          </div>
        </infowindow>

      </map>
    <div>


</div>

  <div class="row">

    <div class="col-sm-12">

      <h3> JavaScript </h3>

<pre>$scope.map = {
  center: [47.5, -122.5],
  options: function() {
    return {
      streetViewControl: false,
      scrollwheel: false
    }
  }, 
  events: {
    click: function(e) {
      $scope.infowindow.position = e.latLng;
      $scope.$apply()
    }
  }
};

$scope.infowindow = {
  position: [47.6, -122.5]
}</pre>

      <h3> HTML </h3>

<pre>
&lt;map ng-transclude class=&quot;google-map&quot; center=&quot;map.center&quot; events=&quot;map.events&quot; options=&quot;map.options&quot;&gt; 

  &lt;infowindow position=&quot;infowindow.position&quot;&gt;
    &lt;h4&gt; Hello! &lt;/h4&gt;
    My position is &#123;&#123;infowindow.position}}
  &lt;/infowindow&gt;

&lt;/map&gt;</pre>

    </div>

  </div>