<div ng-controller="overlay">

  <div class="row">

    <div class="col-sm-12">
      <div map ng-transclude class="google-map" center="map.center" zoom="map.zoom" options="map.options"> 

        <overlay url="overlay.url" bounds="overlay.bounds"></overlay>

      </div>
    <div>


</div>

  <div class="row">

    <div class="col-sm-12">

      <h3> JavaScript </h3>

<pre>$scope.map = {
  center: [39, -100],
  options: function() {
      return {
        zoom: 4,
        streetViewControl: false,
        scrollwheel: false
      }
  }
};

 $scope.overlay = {
  url: "data/overlays/Apr_00Z_H.png",
  bounds: {
    SW: [23.02083, -124.9792],
    NE: [50.97917, -65.02084]
  }
 }</pre>

      <h3> HTML </h3>

<pre>
&lt;div map ng-transclude class=&quot;google-map&quot; center=&quot;map.center&quot; zoom=&quot;map.zoom&quot; options=&quot;map.options&quot;&gt; 

  &lt;overlay url=&quot;overlay.url&quot; bounds=&quot;overlay.bounds&quot;&gt;&lt;/overlay&gt;

&lt;/div&gt;</pre>

    </div>

  </div>