<div ng-controller="points">

  <div class="row">

    <div class="col-sm-12">
      <map ng-transclude class="google-map" center="map.center" options="map.options"> 

        <points coords="points.coords" options="points.options" events="points.events" decimals="points.decimals"></points>

      </map>
    <div>

    Coordinates: {{points.coords}}
  </div>

  <div class="row">

    <div class="col-sm-12">

      <h3> JavaScript </h3>

<pre>$scope.map = {
  center: [47.5, -122.5],
  options: function() {
      return {
        streetViewControl: false,
        scrollwheel: false
      }
  }
};

$scope.points = {
  coords: [
    [47,-122],
    [48,-123],
    [47,-123],
    [48,-122]
  ],
  options: function(coords, properties, i, map) {
    return {
      draggable: true
    }
  },
  events: {
    click: function(e, point, map, points) {
      alert(point)
    }
  },
  decimals: 3
};
</pre>

      <h3> HTML </h3>

<pre>
&lt;map ng-transclude class=&quot;google-map&quot; center=&quot;map.center&quot; options=&quot;map.options&quot;&gt; 

  &lt;points coords=&quot;points.coords&quot; options=&quot;points.options&quot; events=&quot;points.events&quot; decimals=&quot;points.decimals&quot;&gt;&lt;/points&gt;

&lt;/map&gt;</pre>

    </div>

  </div>